    body { font-family: sans-serif; }
    .menu, .menu ul {
        list-style-type: none; 
        margin: 0;
        padding: 0;
        background-color: #f39c12;
    }
    .menu {
        display: flex;
    }
    .menu li {
    position: relative;
    flex-grow: 1; 
             }
    .menu a {
        display: block;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
    }
    .menu .menu-con {
        display: none; 
        position: absolute;
        background-color: #f1f1f1;
        min-width: 298px;
    }
    .menu li:hover > .menu-con {
        display: block; 
    }
    .menu li:hover > a {
        background-color: #e67e22;
    }